/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 4.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700);
.iframe-completo {
	height: 100%;
	width: 100%;
}
 .estilo-lista{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  opacity: 0.87;
}
 /* task card */
.task-card label {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  height: auto;
}
.task-card-title {
  margin: 0;
  color: #fff;
  font-weight: 300;
}
.task-card .task-card-title {
  margin: 0;
  color: #fff;
  font-weight: 300;
}
.task-card-date {
  font-size: 1.0rem;
  margin: 0;
  color: #fff;
}
.task-card .task-card-date {
  font-size: 1.0rem;
  margin: 0;
  color: #fff;
}

.task-card .collection-header {
  padding: 20px;
}

.task-card .task-add {
  position: absolute;
  right: 10px;
  top: 76px;
}

.task-card .task-cat {
  padding: 2px 4px;
  color: #fff;
  margin-left: 37px;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}

.task-cat {
  padding: 2px 4px;
  color: #fff;
  font-weight: 300;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}
/* flight card */
.flight-card .flight-card-title {
  margin: 0;
  font-weight: 300;
  color: #fff;
}

.flight-card .flight-card-date {
  font-size: 1.0rem;
  margin: 0;
  color: #fff;
}

.flight-card .flight-state {
  padding-bottom: 15px;
}

.flight-card .flight-state-two {
  border-left: 1px dashed #bdbdbd;
}

.flight-card .flight-icon {
  font-size: 2.2rem;
  display: block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.flight-card .card-content-bg {
  background: url("../../images/gallary/31.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flight-card .card-content {
  
  background: rgba(0, 0, 0, 0.25);
}

.flight-card .flight-state-wrapper {
  margin: 0 0 100px 0 !important;
}

.flight-card .card-header .card-title {
  padding: 20px;
}
#map {
        height: 100%;
      }
 
